# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files
*.cpp text
*.h text
*.hpp text
*.c text
*.cmake text
*.txt text
*.md text
*.json text

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.wav binary
*.ogg binary
*.mp3 binary